[submodule "libs/SeeedOPL"]
	path = libs/SeeedOPL
	url = https://github.com/ManiacalLabs/OPL_Kicad_Library.git
[submodule "libs/digikey"]
	path = libs/digikey
	url = https://github.com/ManiacalLabs/digikey-kicad-library.git
